<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> login de usuario</title>
</head>

 <link rel="stylesheet" href="/assets/css/login.css">

 <body>
    <div class="bg">
    <div class="container-login">
        <div>
        <form class="login-form" id="login">
         <span>
             seja bem-vindo usuario
         </span>
         <div>
             <input type="text" name="email" id="email" placeholder="digite o email" required="requerid">
         </div>
         <div>
            <input type="password" name="password" id="password" placeholder="digite a senha" required="requerid" >
        </div>
        <a href="/criar_usuario">
         click aqui para criar conta 
        </a>
        <button>
          <button type="submit" class="bnt-login">login</button>
        </button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>